// Переменные
$menuBackgroundColor: #a6a6a6; // Цвет фона меню
$menuTextColor: #fff; // Цвет текста меню
$activeMenuItemColor: #f00; // Цвет активного пункта меню
$mobileMenuWidth: 80%; // Ширина мобильного меню
$mobileMenuTransitionDuration: 0.3s; // Длительность анимации для мобильного меню

// Основные стили для меню
.menu {
  background-color: $menuBackgroundColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.menu-item {
  color: $menuTextColor;
  text-decoration: none;
  padding: 10px;
  position: relative;
  transition: color 0.3s;
}

.menu-item:hover {
  color: $activeMenuItemColor;
}

.menu-item.active {
  color: $activeMenuItemColor;
  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: $activeMenuItemColor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

// Стили для мобильной версии
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $menuBackgroundColor;
  width: $mobileMenuWidth;
  height: 100%;
  transform: translateX(100%);
  transition: transform $mobileMenuTransitionDuration;
  z-index: 1;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu-item {
  color: $menuTextColor;
  text-decoration: none;
  display: block;
  padding: 10px;
}

// Медиа-запрос для мобильной версии
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
